<!DOCTYPE html>
<html>
<head>
	<title>Centivizer hackathon team 4</title>
	<script src="/socket.io/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>
	<h1>Pong</h1>
	<div id="game_holder"></div>
	<canvas style="border:1px solid black;" id="pong" width=800 height=600></canvas>

</body>

<script>
$( document ).ready(function() {
   		var canvas;
		var canvasContext;
		var ballX = 50;
		var ballY = 50;
		var ballSpeedX = 5;
		var ballSpeedY = 4;
		var paddle1Y = 400;
		var paddle2Y = 250;
		const PADDLE_HEIGHT = 100;
		const PADDLE1_HEIGHT = 300;
		const PADDLE_THICKNESS = 10;
		var player1Score = 0;
		var player2Score = 0;
		const WINNING_SCORE = 5;
		var showingWinScreen = false;

		function handleMouseClick(evt){
			if (showingWinScreen){
				player1Score = 0;
				player2Score = 0;
				showingWinScreen = false;
			
			}
		}
		
		function calculateMousePos(evt){
			var rect = canvas.getBoundingClientRect();
			var root = document.documentElement;
			var mouseX = evt.clientX - rect.left - root.scrollLeft;
			var mouseY = evt.clientY - rect.top - root.scrollTop;
			return {
				x:mouseX,
				y:mouseY
			};
		}
		
		function drawNet(){
			for (var i = 0;i<canvas.height;i+=40){
				colorRect(canvas.width/2 - 1,i,2,20,"white");
			}
		}
		
		function drawEverything(){
			colorRect(0, 0, canvas.width, canvas.height, "green");
			
			if (showingWinScreen){
				canvasContext.fillStyle = "red";
				if (player1Score >= WINNING_SCORE){
					canvasContext.fillText("Left Player Won!",350,200);
				} else {
					canvasContext.fillText("Right Player Won!",350,200);
				}
				
				canvasContext.fillText("Click to Continue",350,500);
				return;
			}
			
			drawNet();
			//player paddles
			colorRect(0, paddle1Y, PADDLE_THICKNESS, PADDLE1_HEIGHT, "white");
			//colorRect(0, paddle1Y, PADDLE_THICKNESS, PADDLE1_HEIGHT, "white");
			colorRect(canvas.width - PADDLE_THICKNESS, paddle2Y, 10, PADDLE_HEIGHT, "white");
			colorCircle(ballX,ballY,10,"white");
			
			canvasContext.fillText(player1Score,100,100);
			canvasContext.fillText(player2Score,canvas.width-100,100);
		}
		
		function moveEverything(){
			if (showingWinScreen){
				return;
			}
			computerMovement();
			ballX = ballX + ballSpeedX;
			ballY = ballY + ballSpeedY;
			
			if (ballX > canvas.width){
				if (ballY > paddle2Y && ballY < paddle2Y + PADDLE_HEIGHT) {
					ballSpeedX = -ballSpeedX;
					var deltaY = ballY - (paddle2Y + PADDLE_HEIGHT/2);
					ballSpeedY = deltaY * 0.35;

				} else {
					player1Score+=1;
					ballReset();
					
				}
			}
			
			if (ballX < 0){
				if (ballY > paddle1Y && ballY < paddle1Y + PADDLE_HEIGHT) {
					ballSpeedX = -ballSpeedX;
					var deltaY = ballY - (paddle1Y + PADDLE_HEIGHT/2);
					ballSpeedY = deltaY * 0.35;
				} else {
					player2Score += 1;
					ballReset();
					
				}
			}
			
			
			if (ballY > canvas.height || ballY <0){
				ballSpeedY = -ballSpeedY;
			}


			//keep paddle1 from leaving the board
			if ((paddle1Y + PADDLE1_HEIGHT) >= canvas.height) {
				paddle1Y = canvas.height - PADDLE1_HEIGHT ;
			} else if (paddle1Y <= 0) {
				paddle1Y = 0;
			}
		}
		
		function colorRect(leftX, topY, width, height, drawColor){
			canvasContext.fillStyle = drawColor;
			canvasContext.fillRect(leftX,topY,width, height);
		}
		
		function colorCircle(centerX, centerY, radius, drawColor){
			canvasContext.fillStyle = drawColor;
			canvasContext.beginPath();
			canvasContext.arc(centerX, centerY,radius,0, Math.PI*2, true);
			canvasContext.fill();
		}
		
		function next_level(){
			if (WINNING_SCORE == 15){
				showingWinScreen = true;
			} else {
				WINNING_SCORE += 5;
			}


			//ballX = canvas.width/2;
			//ballY = canvas.height/2;
		}

		function ballReset(){
			if (player1Score >= WINNING_SCORE || player2Score >= WINNING_SCORE){
				//next_level();
				player1Score = 0;
				player2Score = 0;
				showingWinScreen = true;
			}
			
			ballSpeedX= -ballSpeedX;
			ballX = canvas.width/2;
			ballY = canvas.height/2;
		}
		
		function computerMovement(){
			var paddle2YCenter = paddle2Y + (PADDLE_HEIGHT/2);
			if (paddle2YCenter < ballY - 35){
				paddle2Y = paddle2Y + 6;
			} else if (paddle2YCenter > ballY + 35) {
				paddle2Y = paddle2Y - 6;
			}
		}
    
		$(window).load(function() {
		  canvas = document.getElementById("pong");
		  canvasContext = canvas.getContext("2d");
		  var framesPerSecond = 30;
		  setInterval(function() {
		  	  drawEverything();
		      moveEverything();
		     
		    },
		    1000 / framesPerSecond);

		  canvas.addEventListener("mousedown", handleMouseClick);


		  canvas.addEventListener("mousemove", function(evt) {
		    var mousePos = calculateMousePos(evt);
		    paddle1Y = mousePos.y - (PADDLE_HEIGHT / 2);
		  });


		//code for button
		var socket = io('http://192.168.0.100:3000');
         socket.emit('joystick start', {chatroom: 'joystick'});
        
        //socket.emit('buttons start', {chatroom: 'buttons'});
        
        socket.on('joystick press', function(msg){
        //socket.on('button load', function(msg){
          console.log(msg.buttonNo);
          if (msg.buttonNo === '8'){  //10 is left, 8 is up, 
          	 //socket.trigger("moveLeft");
          	 moveUp();
            //0 corresponds to first button from right
            //do something here (ex. move cursor up on the screen, play a video)
          }
          else if (msg.buttonNo === '10'){
            //3 corresponds to forth button from right
            //do more things here
            //socket.trigger("moveRight");
            //socket.on("moveRight");
            moveDown();
          }
        });
        socket.on('button hit', function(msg){
            //the flashing button was hit, yeeeeeaah
            //do something here
            console.log(msg.buttonNo);
        }); 
		});	 

		function moveUp(){
			paddle1Y -= 10;
        };

        function moveDown(){
        	 paddle1Y += 10;
        }
});





</script>

</html>