<!DOCTYPE html>
<html>
<head>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/style.css"/>
</head>
<body>

	<div class="container-fluid">

		<div id="modeSelection" class"container">
			<div class="col-md-12">
				<div class="col-md-4"></div>
				<div class="col-md-4 panel panel-primary">										
					<div id="loading" class="panel-body">
						<img src="/Tennis.jpg">
						<div class="container">
							<label id="title" class="img-rounded"> Monte Carlo Classics </label>

							<div class="col-md-6">
								<button id="singlePlayer" class="selectionButton btn">Singles</button>
							</br>
								<button id="doublePlayer" class="selectionButton btn">Doubles</button>
							</div>
						</div>
					</div>

				</div>
				<div class="col-md-4"></div>
			</div>
		</div>

		<div id="canvasContainer" hidden class="container col-md-12 panel panel-primary">
			<div class="col-xs-3"></div>
			<div class="col-md-6 panel-heading img-rounded">
				<h3>
					<div class="col-md-3" id="player1Label" style="left:40px;">Player 1</div>
					<div class="col-md-3 pull-right" id="player2Label" style="left:60px;">Player 2</div>
				</h3>
			</div>
			<div class="col-md-3"></div>
		
			<div class="col-md-12 panel-body">
				<div class="col-xs-3"></div>
				<div class="col-md-4" style="left:40px;"> 
					<canvas style="border:1px solid black;" id="pong" width=800 height=600></canvas>
				</div>
				<div class="col-sm-3"></div>
			</div>
		</div>
	</div>
</body>
<script src="/ping-pong.js"></script>
</html>